{% extends "base.html" %} {% block title %}Update Informations{% endblock %} {% block content %}
<script>
    var check = function() {
        if (document.getElementById('npassword').value ==
            document.getElementById('rnpassword').value) {
            document.getElementById('message').innerHTML = '';
            document.getElementById('btn').disabled = false;

        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Two Passwords Are  Not Matching';
            document.getElementById('btn').disabled = true;

        }
    }
</script>
<div style="margin-top: 35px;">


    <div style="margin-top: 35px;">


        <div class="card">
            <div class="card-header">
                Account Settings:
            </div>
            <div class="card-body">
                <h5 class="card-title">Update Password:</h5>
                <p class="card-text">
                    <form method="POST" onkeyup="check()">
                        <div class="input-group mb-3 ">

                            <span class="input-group-text " id="basic-addon1 ">@</span>
                            <input type="text " class="form-control " minlength="5" value="{{current_user.email}} " aria-describedby="basic-addon1 " disabled>
                        </div>
                        <div class="input-group mb-3 ">
                            <span class="input-group-text " id="basic-addon1 "><svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-lock " viewBox="0 0 16 16 ">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z "/>
                              </svg></span>
                            <input type="password" class="form-control " minlength="7" placeholder="Current Password " aria-label="cpassword " aria-describedby="basic-addon1" name="cpassword" id="cpassword" required>

                        </div>
                        <div class="input-group mb-3 ">
                            <span class="input-group-text" id="basic-addon1 "><svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-lock " viewBox="0 0 16 16 ">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z "/>
                              </svg></span>
                            <input type="password" class="form-control " minlength="7" placeholder="New Password " aria-label="npassword" aria-describedby="basic-addon1" name="npassword" id="npassword" required>
                            <span class="input-group-text " id="basic-addon1 "><svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-arrow-repeat " viewBox="0 0 16 16 ">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z "/>
                                <path fill-rule="evenodd " d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083
                                9H3.1z "/>
                              </svg></span>
                            <input type="password" class="form-control " placeholder="Confirm New Password " aria-label="rnpassword " aria-describedby="basic-addon1 " name="rnpassword" id="rnpassword" minlength="7" maxrequired>
                        </div>

                        <br>
                        <span id='message' align="center"></span>
                        <br>
                        <div align="center"><input type="submit" value="Save" class="btn btn-secondary" id="btn">
                            <input type="reset" value="Cancel" class="btn btn-secondary "></div>

                    </form>



            </div>
        </div>
    </div>
</div>

{% endblock %}